In [1]:
print("Fahad")

Fahad

In [2]:
name : str = "Fahad Idrees"
print(name)

Fahad Idrees

# String datatype in Python

In [1]:
# boundries 
# 'string', "string",'''string''', """string"""

name : str = "Fahad Idrees"
print(type(name))
print(name)

<class 'str'>
Fahad Idrees

In [4]:
name : str = 'Fahad Idrees'
print(type(name))
print(name)

<class 'str'>
Fahad Idrees

In [5]:
name : str = """Fahad Idrees"""
print(type(name))
print(name)

<class 'str'>
Fahad Idrees

In [6]:
message : str = "PIAIC student card \n father's name"
print(message)

PIAIC student card
 father's name

In [7]:
message : str = 'PIAIC "student card" \n father name'
print(message)

PIAIC "student card"
 father name

In [9]:
# convert any special character into simple character, place \(backslash) before character
message : str = 'PIAIC "student card" \n father\'s name'
print(message)

PIAIC "student card"
 father's name

In [ ]:
# convert any special character into simple character, place \(backslash) before character
message : str = 'PIAIC "student card" \n father\'s name'
print(message)

In [10]:
# plus + sign will concatenate join the strings
"a" + "b" + "c"

'abc'

# "\\" means line continue

In [19]:
name : str = "Fahad Idrees"
fname : str = "Muahmmad Idrees"
education : str = "ACCA"
age : int = 38

card : str = "PIAIC student card\nStudent name:" + name +"\nAge"
print(card)

PIAIC student card
Student name:Fahad Idrees
Age

In [20]:
print(7+2+1)

10

In [21]:
print(7 +\
       2 +\
        1)

10

In [23]:
# since Name is str and Age is int, therefore there will be an error if we concatenate both, so change age type to string
# change the int 38 to str(function which is 38)

name : str = "Fahad Idrees"
fname : str = "Muahmmad Idrees"
education : str = "ACCA"
age : int = 38

card : str = "PIAIC student card\nStudent name:" + name + "\nAge:" + str(age)
print(card)

PIAIC student card
Student name:Fahad Idrees
Age:38

In [27]:
# since Name is str and Age is int, therefore there will be an error if we concatenate both, so change age type to string
# change the int 38 to str(function which is 38)

name : str = "Fahad Idrees"
fname : str = "Muahmmad Idrees"
education : str = "ACCA"
age : int = 38

card : str = "PIAIC student card\nStudent name:" + name +\
      "\nAge:" + str(age) +"\n" +\
      "Education:" + education
print(card)

PIAIC student card
Student name:Fahad IdreesAge:38
Education:ACCA

## Define Multiline String """ """ OR ''' ''', Then no need of \n or \

In [31]:
name : str = "Fahad Idrees"
fname : str = "Muahmmad Idrees"
education : str = "ACCA"
age : int = 38

card : str = """
PIAIC Student Card
Student Name: ....
Father's Name: ....
Age: .....
Education:....
"""

print(card)

PIAIC Student Card
Student Name: "name"
Father's Name: ....
Age: .....
Education:....

## F-string, very powerful, the template defined in Langchain is based on F-string

In [32]:
name : str = "Fahad Idrees"
fname : str = "Muahmmad Idrees"
education : str = "ACCA"
age : int = 38

card : str = f"""
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
"""

print(card)

PIAIC Student Card
Student Name: Fahad Idrees
Father's Name: Muahmmad Idrees
Age: 38
Education: ACCA

In [34]:
name : str = "Fahad Idrees"
fname : str = "Muahmmad Idrees"
education : str = "ACCA"
age : int = 38

card : str = f'''
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
Total: {6+7+8+9+4+5}
'''

print(card)

PIAIC Student Card
Student Name: Fahad Idrees
Father's Name: Muahmmad Idrees
Age: 38
Education: ACCA
Total: 39

## F-string and Jinja style

In [37]:
f"""
student name {name}
"""

'\nstudent name Fahad Idrees\n'

In [42]:
#jinja
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

In [45]:
name : str = "Fahad Idrees"
fname : str = "Muahmmad Idrees"
education : str = "ACCA"
age : int = 38

card : str = f'''
PIAIC Student Card
Student Name: %s
Father's Name: %s
Age: %d
Education: %s
''' % (name,fname,age,education)

print(card)

PIAIC Student Card
Student Name: Fahad Idrees
Father's Name: Muahmmad Idrees
Age: 38
Education: ACCA

In [47]:
name : str = "faHaD IDREES"
print(name.capitalize())
print(name.upper())
print(name.lower())

Fahad idrees
FAHAD IDREES
fahad idrees

In [51]:
a = 7 
b = 8
# {} place holder
#                   0                1          0 1
"Pakistan value a = {} and value b = {}".format(a,b)

'Pakistan value a = 7 and value b = 8'

In [53]:
# .format will go as per the indexing
name : str = "Fahad Idrees"
fname : str = "Muahmmad Idrees"
education : str = "ACCA"
age : int = 38

card : str = """
PIAIC Student Card
Student Name: {1}
Father's Name: {0}
Age: {3}
Education: {2}
""".format(fname,name,education,age)

print(card)

PIAIC Student Card
Student Name: Fahad Idrees
Father's Name: Muahmmad Idrees
Age: 38
Education: ACCA

## f-string with dot format, this technique is used in template creation in LANGCHAIN

## RECOMMENDED WAYS

In [56]:
# f-string with dot format, this technique is used in template creation in LANGCHAIN
name : str = "Fahad Idrees"
fname : str = "Muahmmad Idrees"
education : str = "ACCA"
age : int = 38

card : str = """
PIAIC Student Card
Student Name: {a}
Father's Name: {b}
Age: {c}
Education: {d}
""".format(a=name,b=fname,c=age,d=education)

print(card)

PIAIC Student Card
Student Name: Fahad Idrees
Father's Name: Muahmmad Idrees
Age: 38
Education: ACCA

In [57]:
name : str = "Fahad Idrees"
fname : str = "Muahmmad Idrees"
education : str = "ACCA"
age : int = 38

card : str = f"""
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
Age: {age}
Education: {education}
"""

print(card)

PIAIC Student Card
Student Name: Fahad Idrees
Father's Name: Muahmmad Idrees
Age: 38
Education: ACCA

In [62]:
student_code : str = """
print("My name is Fahad Idrees")
a:int = 7
b:int = 8
print(a + b)
"""
exec(student_code)

My name is Fahad Idrees
15

In [70]:
# variable_name.method()
name : str = "    FAHAD Idrees    "
display(name.casefold())
display(name.lstrip())
display(name.rstrip())
display(name.strip())

'    fahad idrees    '

'FAHAD Idrees    '

'    FAHAD Idrees'

'FAHAD Idrees'

In [76]:
# import re = regular expression
# 

import re

name : str = "    FAHAD        Idrees    " 
display(name)

#Now we will overwrite the name variable, sub=substitue, 3 things go in sub, 1='patter',2='replacement',3=variable you want to play
# so the character will be replaced with a single space, even if there are 02 till 100 spaces)

name1 : str = re.sub(' {2,100}',' ',name.strip())
display(name1)

'    FAHAD        Idrees    '

'FAHAD Idrees'

In [ ]:
name : str = "    FAHAD Idrees    "

In [78]:
print("Name:\t Fahad Idrees")

Name:	 Fahad Idrees

In [79]:
print("Name:\n Fahad Idrees")

Name:
 Fahad Idrees

In [80]:
# backspace = \b
print("Name:\b Fahad Idrees")

Name Fahad Idrees

In [87]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'