In [1]:
print("Fahad")

Fahad

# List
*iteration operation with loop
*apply any operation on element

In [9]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Sir Inam', 'Dr Noman'] 
for name in names:
    print(name)

Sir Zia
Sir Qasim
Sir Inam
Dr Noman

In [11]:
for name in names:
    print(f'Welcome dear Teacher {name.title()}')

Welcome dear Teacher Sir Zia
Welcome dear Teacher Sir Qasim
Welcome dear Teacher Sir Inam
Welcome dear Teacher Dr Noman

In [13]:
for name in names:
    print(f'Welcome dear Teacher {name.title()}')
    print("Welcome Gen AI Team\n")

Welcome dear Teacher Sir Zia
Welcome Gen AI Team

Welcome dear Teacher Sir Qasim
Welcome Gen AI Team

Welcome dear Teacher Sir Inam
Welcome Gen AI Team

Welcome dear Teacher Dr Noman
Welcome Gen AI Team

In [15]:
for name in names:
    print(f'Welcome dear Teacher {name.title()}')
    print("Welcome Gen AI Team\n")

print("Pakistan Zindabad") # when outside indentation -> when providing back space, then it will print Pakistan only once

Welcome dear Teacher Sir Zia
Welcome Gen AI Team

Welcome dear Teacher Sir Qasim
Welcome Gen AI Team

Welcome dear Teacher Sir Inam
Welcome Gen AI Team

Welcome dear Teacher Dr Noman
Welcome Gen AI Team

Pakistan Zindabad

In [17]:
for name in names[:2]:
    print(f'Welcome dear Teacher {name.title()}')
    print("Welcome Gen AI Team\n")

print("Pakistan Zindabad")

Welcome dear Teacher Sir Zia
Welcome Gen AI Team

Pakistan Zindabad

In [18]:
for name in names[-2:]:
    print(f'Welcome dear Teacher {name.title()}')
    print("Welcome Gen AI Team\n")

print("Pakistan Zindabad")

Welcome dear Teacher Sir Inam
Welcome Gen AI Team

Welcome dear Teacher Dr Noman
Welcome Gen AI Team

Pakistan Zindabad

In [21]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Sir Inam', 'Dr Noman'] 
for name in names[::-2]:
    print(f'Welcome dear Teacher {name.title()}')
    print("Welcome Gen AI Team\n")

Welcome dear Teacher Dr Noman
Welcome Gen AI Team

Welcome dear Teacher Sir Qasim
Welcome Gen AI Team

# Slicing
start : int = include
end : int = n -1
step : int = sequence

In [34]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman'] 
for name in names[::]:
    print(f'Welcome dear Teacher {name.title()}')
    print("Welcome Gen AI Team\n")

Welcome dear Teacher Sir Zia
Welcome Gen AI Team

Welcome dear Teacher Sir Qasim
Welcome Gen AI Team

Welcome dear Teacher Dr Noman
Welcome Gen AI Team

In [36]:
from typing import Tuple
data_base : list[tuple[str,str]] = [("qasim",123),
                                     ("sirzia",456),
                                     ("ikhlas",789)]

input_user : str  = input("Enter user name")
input_password : str  = input("Enter password")

for row in data_base:
    user, password = row
    print(user, password)

qasim 123
sirzia 456
ikhlas 789

In [43]:
from typing import Tuple
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                     ("sirzia",'456'),
                                     ("ikhlas",'789')
                                     ]

input_user : str  = input("Enter user name")
input_password : str  = input("Enter password")

for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid user")
        break
else:
    print("invalid user")

invalid user

In [53]:
names : list[str] = ['Sir Zia', 'Sir Qasim', 'Dr Noman'] 

for name in names:
    print(name[::])
else:
    print("Pakistan")

Sir Zia
Sir Qasim
Dr Noman
Pakistan

In [60]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f"{magician.title()}, great trick!")
print(f"I can't wait to see your next trick, {magician.title()}.\n") #last variable of the iteration remains in the loop = Caroline

Alice, great trick!
David, great trick!
Carolina, great trick!
I can't wait to see your next trick, Carolina.

# Numbers with loop
# range(start,end,step)

In [62]:
list(range(10)) #it works till 1 minus the range given, starting=0, ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
list(range(2,21,2)) #2 starting point, till 21-1 =20, and last parameter 2 steps

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# ENUMERATE function put Index number as per element

In [66]:
magicians = ['alice', 'david', 'carolina']
list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [67]:
magicians = ['alice', 'david', 'carolina']
for index,name in enumerate(magicians):
    print(index,name)

0 alice
1 david
2 carolina

In [68]:
for n in range(1,11):
    print(f"{2} x {n} = {2*n}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [69]:
squares = []
for value in range(1, 11):
square = value ** 2
squares.append(square)

IndentationError: expected an indented block after 'for' statement on line 2 (2322708414.py, line 3)

# List comprehensive (instead of 05 line code above, it will simplify)
for item in items_list:

loop_body

#instead we will bring loop body in the start, then it will become list comprehensive
# --> [loop_body for item in items_list]

In [71]:
for i in range(1,11):
    print(i ** 2)

1
4
9
16
25
36
49
64
81
100

In [72]:
[i ** 2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Tuple --> Constant = Immutable no change

In [74]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)
print(data)

('A', [1, 2, 3], True)

In [2]:
# we can reassign the tupple but can't change it
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)
data[1].append(30)
print(data)

('A', [1, 2, 3, 30], True)